@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="Display:Flex; justify-content:stretch;">
    <partial name="site" style="width:fit-content;"/>
    <partial name="testApi" style="width:100%;" />
</div>

